/*******************
Specific bootstrap overwrites
*******************/
html, body {
	height: 100%;
}
body {
	color: #6ac3d7;
	font-family: open_sanslight, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
	font-family: open_sanslight, "Helvetica Neue", Helvetica, Arial, sans-serif;
 	font-weight: 500;
 	line-height: 1.1;
}
h1{
	font-family: open_sans, "Helvetica Neue", Helvetica, Arial, sans-serif;

}


.btn {
	font-family: ubuntu_titlingbold;
	display: inline-block;
	padding: 6px 12px;
	margin-bottom: 0;
	font-size: 14px;
	font-weight: normal;
	line-height: 1.428571429;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	cursor: pointer;
	border: 1px solid transparent;
	border-radius: 15px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
	border-radius: 0px;
	background:#c6c5c3;
}

.btn-primary {
	color: #ffffff;
	background-color: #6ac3d7;
	border-color: #6ac3d7;
	margin: 2%;
}

.container {
	padding-right: 0;
	padding-left: 0;
}

.btn-success {
	color: #fff;
	background-color: #6ac3d7;
	border-color: #6ac3d7;
	width: 130;
	height: 38;
	border-radius: 18;
	font-size: 17px;
	margin-bottom: 30px
	
}

.btn-success:hover, .btn-success:focus, .btn-success:active, .btn-success.active, .open .dropdown-toggle.btn-success {
	/*color: #fff;*/
	/*background-color: #58595b;*/
	/*border-color: #58595b;*/

	color: #fff;
	background-color: #f57042;
	border-color: #f57042;
}
/*******************
End Specific bootstrap overwrites
*******************/

/*******************
Splashpage
*******************/
.text-center{
	text-align: center !important;
}

.block1 {
	padding-top: 10%;
	background-color: #6ac3d7;
	padding-bottom: 5%;
	color: #FFF;
	max-height: 500px;
	overflow:hidden;
}

.getbest {
	font-family: open_sanslight;
	font-size: 4em;
}

.bebest {
	font-family: open_sanssemibold;
	font-size: 4.1em;
}

.block2 {
	background-color: rgb(245,244,244);
	max-height: 700px;
	padding-top: 2%;
	padding-bottom: 1%;
	font-family: open_sanslight_italic;
	color: #c6c5c3;
	font-size: 2em;
}

.splash {
	max-height: 500px;
}

.madeeasy {
	font-family: open_sanssemibold_italic;
	color: #6ac3d7;
}

.block3 {
	color: #c6c5c3;
	max-height: 400px;
}

.block3-back{
	background-image: url(../img/line.png);
	background-repeat:no-repeat;
	background-position:center center;
	background-size: auto 100%;
	margin-top: 5%;
	margin-bottom: 5%;
}

.block3-text {
	font-family: open_sanslight;
	font-size: 1.43em;
	padding-top: 10%;
}

.block3-img {
	max-height: 100%;
}

.block3-register {
	font-family: ubuntu_titlingbold;
	font-size: 2em;
	text-align: center;
	margin-top: 5%;
}

.block4 {
	background-color: rgb(177,182,197);
	margin-bottom: -53px;
	padding-top: 50px;
}

.block5 {
	text-align: center;
	margin-top: 7%;
	font-family: ubuntu_titlingbold;
	font-size: 2.7em;
	color: #ffcb6b;
	width: 100%;
	
}

.block5-back{
	background-image: url(../img/line.png);
	background-repeat:no-repeat;
	background-position:right center;
	background-size: auto 100%;
	margin-top: 2%;
}

.block5-text {
	text-align: center;
	font-family: open_sanslight_italic;
	font-size: 3em;
	color: #58595b;
}

.signup {
	font-size: 2em;
}

#bowtie{
	left: -30px;
	padding-top: 25px;
}

.register_div{
	width: 50%;
	float:left;
	padding-left: 20px;
}

.register_div > h3{
	text-align: center;
	color:#6ac3d7;
}

.block3-back{
	/*float: left;*/
}

.block3{
	display: initial;
}

@media (max-width: 992px){ /* or 768 px*/
	.register_div{
		clear: both;
		margin: 0 25%;
	}

	.register_text{
		margin:0;
		width:100%;
	}
}
/*******************
End Splashpage
*******************/
/*****
	Social Button Stuff
*******/
.social-btn {
	width: 400px;
	height: 55px;
	float:	left;
	font-size: 20px;
	line-height: 22px;
	padding: 16px;
	margin: .5% 2%;
	border: none;
}

.type-facebook{
	background-color: #3b5998;
}
.type-linkedin{
	background-color: #007bb6;
}
.icon-sn-30 {
	height: 30px;
	padding-left: 30px;
	padding-bottom: 4px;
}
.icon-sn-30 {
	background-image: url(https://du6h72rmez42p.cloudfront.net/v1/images/maps/icons-sn.8bef5e9f.png);
}
.icon-sn-30 {
	position: relative;
	left: -72px;
	top: -3px;
}
.icon-sn-30.facebook {
	background-position: -66px -30px;
}
.icon-sn-30.linkedin {
	background-position: -66px -60px;
}
span.social-text{
	position: relative;
	left: -8px;
}
/*****
	End Social Button Stuff
*******/
/*******************
Footer
*******************/
.footer {
	background-color: #c6c5c3;
	font-family: open_sanslight;
	color: #fff;
	font-size: 85.7%;
	padding-bottom: 15px;
	text-align: right;
	padding-right: 5%;
	position: relative;
	margin-top: -50px;  /*negative value of footer height */
	height: 50px;
	clear:both;
	padding-top:20px;
}

.footer-student {
	background-color: #c6c5c3;
	font-family: open_sanslight;
	color: #fff;
	font-size: 85.7%;
	margin-top: 3%;
	padding-top: 15px;
	padding-bottom: 15px;
	text-align: right;
	padding-right: 5%;
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
}
.footer_container strong{
    font-weight: bold;
}

.footer_container div.container{
	width: 320px;
	float: left;
}

.footer_container ul{
	list-style: none;
    margin: 0;
    padding: 0;
    /*float:right;*/
}

.footer_container ul li {
	float: left;
	padding: 0 10px;
}
/*******************
End Footer
*******************/

/*******************
Registraion complete
*******************/
.thankyou-title {
	font-family: ubuntu_titlingbold;
	color: #fff;
	font-size: 3em;
	padding-top: 8%;
	text-align: center;
}
.block1-thankyou {
	padding-top: 10%;
	background-color: #6ac3d7;
	padding-bottom: 10%;
	color: #FFF;
	max-height: 500px;
	overflow: visible;
	z-index: -1;
}
/*******************
End Registraion complete
*******************/

/*******************
Activation complete
*******************/
.link {
	text-decoration: underline;
}
/*******************
End Activation complete
*******************/

/*******************
login.html
*******************/
.errorlist{
	color: red;
	list-style: none;
	text-align: center;
	clear: left;
}
.password-reset-link{
	display:inline-block;
	margin-left: 105px;
	margin-top: 0px;
	margin-bottom: 15px;
}
/*******************
End login.html
*******************/
/*******************
base.html
*******************/
#wrap {
	min-height: 100%;
}
#content {
	margin-top: 50px;
}
#main {
	overflow:hidden;
	padding-bottom:50px;  /*this needs to be bigger than footer height*/
	max-width: 100%;
}
a {
	color: inherit;
	text-decoration: none;
}

a:hover,
a:focus {
	color: inherit;
	text-decoration: none;
}
/*******************
End base.html
*******************/
/*******************
base_loggedin.html
*******************/
#update_form{
	margin: 0 auto;
	margin-top: 20px;
	max-width: 800px;

}
#update_form > form > input:last-child{
	width: 50px;
	margin: 0 150px;
}

p! #id_skill_text{
	float:left;
	margin-right:5px;
}

#id_skills_chosen {
	width:300px !important;
}
/*******************
End base_loggedin.html
*******************/
/*******************
login.html and registraion_form.html
*******************/
#registration_form, #login_form{
	max-width: 831px;
	margin: 0 auto;
}

#social-signin1{
	background: url(../img/social-signin1.png) no-repeat;
	background-size: 130px;
	margin: 4px;
}

#social-signin2{
	background: url(../img/social-signin2.png) no-repeat;
}

#social-signin1, #social-signin2{
	height: 32px;
	width: 142px;
	border: none;
}
/*******************
End login.html and registraion_form.html
*******************/

/*******************
Specific Chosen overwrites
*******************/
.chosen-container-multi .chosen-results{
	max-height: 150px;
}

input,select {
	font-size: 12px !important;
}

.search-choice > span{
	font-size:12px;
}

.search-field > input{
	font-size: 12px;
}
/* to remove the help text next to a chosen element*/
.helptext{
	display: none
}

ul.chosen-choices,
ul.chosen-choices > li.search-field,
ul.chosen-choices > li.search-field > input {
	min-height: 28px !important;
	font-family: open_sanslight, "Helvetica Neue", Helvetica, Arial, sans-serif !important;
	padding-top:4px !important;
	color: black !important;
}
.chosen-choices {
	padding: .5em .6em;
	display: inline-block;
	border: 1px solid #ccc;
	font-size: .8em;
	box-shadow: inset 0 1px 3px #ddd;
	border-radius: 4px;
	-webkit-transition: .3s linear border;
	-moz-transition: .3s linear border;
	-ms-transition: .3s linear border;
	-o-transition: .3s linear border;
	transition: .3s linear border;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
div.chosen-drop{
	/*top: 85% !important;*/
	/*left: 17px !important;*/
}
/*******************
End Specific Chosen overwrites
*******************/
/*******************
Specific Pure form overwrites
*******************/
.pure-control-group{
	position: relative;
	left: -32px;
}
.pure-form select{
	/*padding: .5em .6em;*/
	font-size: 16px;
	line-height: 1;
	border-radius: 0;
	-webkit-appearance: none;
	width: 240px;
	height: 34px;
	overflow: hidden;
	background: url(//cdn.bavotasan.com/wp-content/uploads/2011/05/down_arrow_select.jpg) no-repeat right #fff;
	border: 1px solid #ccc;
	padding-right: 33px; /* needed for the arrow */
	/* because firefox sucks*/
	-moz-appearance: none;
	text-indent: 0.01px;
	text-overflow: '';
}
/*******************
End Specific Pure form overwrites
*******************/

/* used in
registraion_form.html
base_loggedin.html
*/
#saved_message{
	text-align: center;
}

/* CSS for the Registraion Page  ;)
	from registration.css
*/


#new-acct-head, #signup-type, #loginQ {
	font-family: open_sanslight;
	max-width: 100%;
}
/*
used in
require_email.html
whats_next.html
activation_complete.html
login.html
logout.html
registration_form.html
*/
#new-acct-head {
	margin-top: 50px;
	background-color: rgb(249, 249, 249);
	padding: 20px 0;
	border-bottom-color: rgb(198, 197, 195);
	border-bottom-style: solid;
	border-bottom-width: 1px;
}

/*
used in
require_email.html
activation_complete.html
login.html
logout.html
registration_form.html
*/
#signup-type {
	padding: 30px 0;
	border-bottom-color: rgb(198, 197, 195);
	border-bottom-style: solid;
	border-bottom-width: 1px;
	margin-bottom: 20px;
}

/*
used in
registration_form.html
*/
#loginQ {
	padding: 30px 0;
	border-top-color: rgb(198, 197, 195);
	border-top-style: solid;
	border-top-width: 1px;
	clear:both;
}

/*
used in
whats_next.html
*/
.next{
	padding-top: 2%;
	padding-bottom: 1%;
	font-family: open_sanssemibold;
	color: #c6c5c3;
	font-size: 2em;
	text-align: center;
}

/*
combined form overwrite for chosen and pure
*/
label, input { 
	float:left;
}
label { 
	clear:left;
	display:block;
	margin-top:3px;
	width:200px;
	text-align: right;
	line-height: 63px;
	font-size:20px;
}
input,
select {
	border-radius: 0;
	margin-left:20px;
	margin-top: 10px;
	margin-bottom: 10px;
	border-radius: 0;
	width: 400px;
	height: 55px;
	color: #333;
	line-height: 15px;
	font-size: 20px !important;
	border: 2px solid rgba(204, 204, 204, 0.5);
	padding: 0 20px;
}
@media (max-width: 500px){
	input,
	select,.social-btn {
	/*max-width: 400px;*/
	/*width:200px;*/
	width:90%!important;
	}
	.container,#registration_form,fieldset{
		width:100%;
	}
	.icon-sn-30 {
		left: -14px;
	}
	h4.text-center{
		width:95%;
	}
}
input:focus,
select:focus{
	border: 2px solid #6ac3d7;
	outline: none
}
fieldset >p{
	float:left;
	clear:left;
	margin: 0;
}
select{
	/*padding: .5em .6em;*/
	font-size: 16px;
	line-height: 27px;
	border-radius: 0;
	-webkit-appearance: none;
	overflow: hidden;
	background: url(/static/img/downarrow.png) no-repeat right #fff;
	border: 1px solid #ccc;
	padding-right: 33px;
	-moz-appearance: none;
	text-indent: 0.01px;
	text-overflow: '';
	background-size: 17px 9px;
	background-origin: content-box;
	padding-top: 10px;
	padding-bottom: 10px;
	border: 2px solid rgba(204, 204, 204, 0.5);
}
/*select#id_type{
	width: 130px;
	padding-right: 5px;
	padding-left: 5px;
}
label[for=id_type]{
	width: 420px;
}*/
label#skill_add_note{
	clear: none;
	width: 606px;
}
ul.chosen-choices,
.chosen-container-multi .chosen-choices,
.chosen-container-active .chosen-choices
	border-radius: 0px;
	height: 50px !important;
	width: 400px !important;
	border: 2px solid rgba(204, 204, 204, 0.5) !important;
	border-radius: 0;
	margin-left:20px;
	margin-top: 10px;
	margin-bottom: 10px;
	border-radius: 0;
	width: 400px;
	height: 55px;
	color: #333;
	line-height: 15px;
	font-size: 20px !important;
	border: 2px solid rgba(204, 204, 204, 0.5);
	padding: 0 20px;
}
ul.chosen-choices:focus,
.chosen-container-multi:focus .chosen-choices:focus,
.chosen-container-active:focus .chosen-choices:focus
:focus{
	border: 2px solid #6ac3d7;
	outline: none
}

/************
	select2 overwrite
************/
.select2-container-multi .select2-choices{
	background: #fff !important;
	border: 2px solid rgba(204, 204, 204, 0.5) !important;
}
.select2-container-multi .select2-choices .select2-search-field input{
	font-family: open_sanslight, "Helvetica Neue", Helvetica, Arial, sans-serif !important;
	color:black !important;
	padding:0 20px !important;
}
.select2-container-multi.select2-container-active .select2-choices
 {
	border: 2px solid #6ac3d7 !important;
	/*border-bottom: none !important;*/
    outline: none !important;

    -webkit-box-shadow: none !important;
            box-shadow: none !important;
}
.select2-drop-active {
    border: 2px solid #6ac3d7 !important;
    border-top: none !important;
}
.select2-container-multi .select2-choices .select2-search-choice{
	font-size: 20px !important;
	margin-top: 15px !important;
	margin-bottom: 15px !important;
	line-height: 20px !important;
}
.select2-container-multi .select2-search-choice-close{
	left: 3px !important;
	top: 7px !important;
}
/************
	end select2 overwrite
************/
#skill_add_btn{
	width: 99px;
	margin-left: 0;
	border: none;
	height: 54px;
}
#id_skill_text{
    width: 300px;
}
.chosen-choices,
.pure-form input[type=text],
.pure-form input[type=password],
.pure-form input[type=email],
.pure-form input[type=url],
.pure-form input[type=date],
.pure-form input[type=month],
.pure-form input[type=time],
.pure-form input[type=datetime],
.pure-form input[type=datetime-local],
.pure-form input[type=week],
.pure-form input[type=number],
.pure-form input[type=search],
.pure-form input[type=tel],
.pure-form input[type=color],
.pure-form select,
.pure-form textarea,
input[type=text],
input[type=password],
input[type=email],
input[type=url],
input[type=date],
input[type=month],
input[type=time],
input[type=datetime],
input[type=datetime-local
input[type=week],
input[type=number],
input[type=search],
input[type=tel],
input[type=color],
input,
select,
textarea
{
	border-radius: 0;
	width: 400px;
	height: 55px;
	color: #333;
	line-height: 15px;
	box-shadow: none;
	font-size: 20px !important;
}
.pure-form label{
	font-size: 20px;	
}
/*****
hide forms before js loads
***/
.display_delay{
	display: none;
}

/**
	New Splashpage stuff
**/
.marketing .col-lg-4 {
	text-align: center;
}

.btn.btn-primary {
	color: #ffffff;
	background-color: #215a7a;
	margin: 6%;
	width:300px;
	height:75px;
	font-size: 30px !important;
	/*border-radius: 15px;*/
}

h1,
.h1 {
  font-size: 50px;
}

h2,
.h2 {
  font-size: 40px;
}

h3,
.h3 {
  font-size: 30px;
}
a.btn {
	padding: 0px;
	line-height: 75px;
}

