Django==1.6
Pillow==2.3.0
South==0.8.4
Unidecode==0.04.14
--allow-external
argparse==1.2.1
dj-database-url==0.2.2
dj-static==0.0.5
django-chosen==0.1
django-facebook==5.3.1
django-mailgun==0.2.2
django-registration==1.0
django-select2-forms==1.1.8
django-social-auth==0.7.28
django-toolbelt==0.0.1
gunicorn==18.0
honcho==0.5.0
httplib2==0.8
oauth2==1.5.211
ordereddict==1.1
psycopg2==2.5.1
python-openid==2.2.5
requests==2.1.0
static==0.4
wsgiref==0.1.2
