{% extends "base/base.html" %}
{% load i18n admin_static %}

{% block extrastyle %}{{ block.super }}
{% endblock %}
{% block title %}Login{% endblock %}

{% block content %}

<div class="container text-center" id="new-acct-head"><h1>Welcome Back to Bookwork!</h1></div>

<div class="container text-center" id="signup-type"><h4><strong>Enter your Log-in Credentials.</strong><h4></div>

<div id="login_form">
  <form action="{{ app_path }}" method="post" id="login-form" class="form-horizontal">{% csrf_token %}
    <fieldset>
      <div class="control-group">

      {% if form.errors %}
      <div class="errorlist">
        <p >Your username and password didn't match, please try again.</p>
      </div>
      {% endif %}

      {% if not form.this_is_the_login_form.errors %}{{ form.username.errors }}{% endif %}

      <p>
        <label for="id_username" class="required">{{ form.username.label }}:</label> {{ form.username }}
      </p>
        {% if not form.this_is_the_login_form.errors %}{{ form.password.errors }}{% endif %}
      <p>
        <label for="id_password" class="required">{% trans 'Password:' %}</label> {{ form.password }}
        <input type="hidden" name="this_is_the_login_form" value="1" />
        <input type="hidden" name="next" value="{{ next }}" />
      </p>
      {% url 'admin_password_reset' as password_reset_url %}
      {% if password_reset_url %}
      <div class="password-reset-link">
        <a href="{{ password_reset_url }}">{% trans 'Forgotten your password or username?' %}</a>
      </div>
      {% endif %}

      <!-- Button -->
      <!-- <div class="text-center"> -->
        <div class="control-group">
          <div class="pure-controls">
            <label>&nbsp;</label><input id="login-btn" class="btn btn-primary" type="submit" value="{% trans 'Log in' %}" />
            <a href="{% url 'socialauth_begin' 'facebook' %}" ><div id="social-signin1"></div></a>
            <a href="{% url 'socialauth_begin' 'linkedin' %}" ><div id="social-signin2"></div></a>
          </div><!--controls-->
        </div><!--control-group-->
      <!-- </div>text-center -->
    </fieldset>

  </form>

<div class="row">
  <div class="span12">
    <h4 class="text-center">Not a member? <a href="/accounts/register"><strong>Click here to create an account!</strong></a></h4>
  </div><!--span12-->
</div><!--row-->

<script type="text/javascript">
document.getElementById('id_username').focus()
</script>
</div>
{% endblock %}
