{% extends "base/base.html" %}
{% load i18n admin_static %}

{% block extrastyle %}{{ block.super }}<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}"admin/css/login.css" %}" />
<link href="{{STATIC_URL}}css/registration.css" rel="stylesheet">{% endblock %}


{% block content %}

<div class="container text-center" id="new-acct-head"><h1>Welcome Back to Bookwork!</h1></div>

<div class="container text-center" id="signup-type"><h4><strong>Enter your Log-in Credentials</strong>.</div>

<div id="content-main" class="span6">
  <form action="{{ app_path }}" method="post" id="login-form" class="form-horizontal">{% csrf_token %}
    <fieldset>

      <div class="form-row form-group">
        <div class="col-xs-7 col-sm-offset-5">
          {% if not form.this_is_the_login_form.errors %}{{ form.username.errors }}{% endif %}
          <label for="id_username" class="required">{{ form.username.label }}:</label> {{ form.username }}
        </div>
      </div>
      <div class="form-row form-group">
        <div class="col-xs-7 col-sm-offset-5">
          {% if not form.this_is_the_login_form.errors %}{{ form.password.errors }}{% endif %}
          <label for="id_password" class="required">{% trans 'Password:' %}</label> {{ form.password }}
          <input type="hidden" name="this_is_the_login_form" value="1" />
          <input type="hidden" name="next" value="{{ next }}" />
        </div> <!-- col-xs-7 col-sm-offset-2 -->
      </div>
      {% url 'admin_password_reset' as password_reset_url %}
      {% if password_reset_url %}
      <div class="password-reset-link">
        <a href="{{ password_reset_url }}">{% trans 'Forgotten your password or username?' %}</a>
      </div>
      {% endif %}

      <!-- Button -->
      <div class="text-center">
        <div class="control-group">
          <div class="controls">
            <!-- <button id="submit" name="submit" class="btn btn-primary">Log In</button> -->
            <!-- <div class="submit-row"> -->
            <label>&nbsp;</label><input class="btn btn-primary" type="submit" value="{% trans 'Log in' %}" />
            <!-- </div> -->
          </div><!--controls-->
        </div><!--control-group-->
      </div><!--text-center-->
    </fieldset>

  </form>

<div class="row">
  <div class="span12">
    <a href="registration"><h4 class="text-center">Not a member? Click here to create an account!</h4></a>
  </div><!--span12-->
</div><!--row-->

<script type="text/javascript">
document.getElementById('id_username').focus()
</script>
</div>
{% endblock %}
