{% extends "base/base_external.html" %}

{% block extrahead %}
{% endblock %}

{% block title %}Create an account{% endblock %}

{% block primary%}Create a New Account{% endblock%}
{% block secondar%}Sign up with your <strong>email</strong> or with <strong>Facebook</strong> or <strong>Linked-in</strong>{% endblock%}

{% block body %}

    {% if messages %}
  {% for message in messages %}
    <h2 class="text-error" id="saved_message">
      {{ message }}
    </h2>
  {% endfor %}
{% endif %}

<div class="container"> <!-- Container for form -->
	<div id="registration_form" class="display_delay">
	<form class="form-horizontal" action="" method="post">
	{% csrf_token %}		
		<fieldset>
			{{ form.as_p }}
		</fieldset>
			<label></label><input class="btn btn-primary" type="submit" value="Create the account">
			<label></label>
			  <a href="{% url 'socialauth_begin' 'facebook' %}">
			    <div class="btn btn-primary social-btn type-facebook">
			      <span class="icon-sn-30 facebook"></span><span class="social-text">Register with Facebook</span>
			    </div>	
			  </a>
			  <label></label>
			  <a href="{% url 'socialauth_begin' 'linkedin' %}">
			    <div class="btn btn-primary social-btn type-linkedin">
			      <span class="icon-sn-30 linkedin"></span><span class="social-text">Register with LinkedIn</span>
			    </div>
			  </a>
	</div>
	</form>
</div>

<div class="container text-center" id="loginQ">
	<h4>Already have an account? <strong><a data-toggle="modal" href="/accounts/login">Login.</a></strong></h4>
</div>
{% endblock %}

{% block scripts %}
{% endblock %}