{% extends "base/base.html" %}

{% block title %}Update Profile{% endblock %}

{% block extrahead %}
<!-- <link href="{{STATIC_URL}}css/dash.css" rel="stylesheet"> -->
{% endblock %}

{% block sidebar %}
<div class="sidebar">
  <div class="sidebar-wrap">
  <div class="id">
    <img id="profile_picture" src="{{ user.student.getPictureURL }}"/>
    <h3 id="name">{{ user.first_name }} {{ user.last_name }}</h3>
    <span id="logout">
    <a href="/accounts/logout">logout</a></span>
  </div>
  <ul class="sidebar-list">
    <a href="/"><li>PROFILE</li></a>
    <a href="/current_employers/"><li>CURRENT EMPLOYERS</li></a>
    <a href="/edit/"><li class="active">EDIT INFORMATION</li></a>
    <a href="/accounts/logout"><li>LOGOUT</li></a>
  </ul>
  </div>
</div>
{% endblock %}

{% block content %}

<div class="text-center page_header">Edit your info here.</div>
        {% if messages %}
      {% for message in messages %}
        <h2 id="saved_message">
          <strong>{{ message }}</strong>
        </h2>
      {% endfor %}
    {% endif %}

<div id="update_form">
  <form action="#" method="post" id="update_form">
    <fieldset>
    {% csrf_token %}
    {{ userform.as_p }}
    {{ studentform.as_p }}
    <div class="pure-controls"><label></label>
      <label for="id_skill_text" id="skill_add_note">Can't find your skill listed? Add it here!</label for="id_skill_text">
    </div>
    <p>
      {{ skillform }}
      <input type="submit" name="new_skill" value="Add" />
    </p>

    <div class="pure-controls">
    <input type="submit" name="student_data" value="Save" />
    </fieldset>
  </form>
</div>
{% endblock %}

{% block scripts %}
<script>
  $(document).ready(function(){
    $("#id_skills").data("placeholder","Select Frameworks...").chosen();
  });
</script>
{% endblock %}
