{% extends "base/base.html" %}

{% block title %} | Update Profile{% endblock %}

{% block extrahead %}
<link href="{{STATIC_URL}}css/registration.css" rel="stylesheet">
{% endblock %}

{% block content %}

<div class="container text-center" id="new-acct-head"><h1>Welcome Back to Bookwork!</h1></div>

<div id="update_form">
    <form action="#" method="post">
    {% csrf_token %}
    {{ userform.as_p }}
    {{ formset.as_p }}
    <input type="submit" value="Save" />
    </form>
</div>
{% endblock %}
