{% extends "base/base.html" %}

{% block title %}Dash{% endblock %}

{% block extrahead %}
<!-- <link href="{{STATIC_URL}}css/dash.css" rel="stylesheet"> -->
{% endblock %}

{% block sidebar %}
<div class="sidebar">
  <div class="sidebar-wrap">
  <div class="id">
    <img id="profile_picture" src="{{ user.student.getPictureURL }}"/>
    <h3 id="name">{{ user.first_name }} {{ user.last_name }}</h3>
    <span id="logout">
    <a href="/accounts/logout">logout</a></span>
  </div>
  <ul class="sidebar-list">
    <a href="/"><li class="active">PROFILE</li></a>
    <a href="/current_employers/"><li>CURRENT EMPLOYERS</li></a>
    <a href="/edit/"><li>EDIT INFORMATION</li></a>
  </ul>
  </div>
</div>
{% endblock %}

{% block content %}
{% if skills %}
<div class="page_header" id="skills-head">These are the skills you currently kick ass at!</div>
<div class="box_container">
  {% for skill in skills %}
    <div class="box">
      <div class="contents center"><h1>{{ skill }}</h1></div>
    </div>
  {% endfor %}
</div>
{% else %}
<div class="text-center page_header" id="no-skills-head"><h1>You don't currently have any skills. Head over to <a href="/edit/">edit profile</a>, to add some.</h1></div>
{% endif %}

{% endblock %}

{% block scripts %}
<script>
  $(document).ready(function(){
    $("#id_skills").data("placeholder","Select Frameworks...").chosen();
  });
</script>
{% endblock %}
