<!DOCTYPE html>
<html>
	<head>
		<title>{% block title %}{% endblock %} | Bookwork</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">

		<!-- Favicon -->
		<link rel="shortcut icon" href="{{STATIC_URL}}img/favicon.ico" />
		<!-- Bootstrap -->
		<link href="{{STATIC_URL}}css/bootstrap.min.css" rel="stylesheet">
		
		<!-- Custom styles for this template -->
		<link href="{{STATIC_URL}}css/custom.css" rel="stylesheet">
		<link href="{{STATIC_URL}}css/home.css" rel="stylesheet">
		<link href="{{STATIC_URL}}js/chosen_v1.0.0/chosen.min.css" rel="stylesheet">
		<!--link href="//yui.yahooapis.com/pure/0.3.0/forms-min.css" rel="stylesheet"-->
                <link href="{{STATIC_URL}}css/pure-forms-min.css" rel="stylesheet">


		<link rel="stylesheet" href="{{STATIC_URL}}fonts/ubuntutitling_bold_macroman/stylesheet.css" type="text/css" charset="utf-8" />
		<link rel="stylesheet" href="{{STATIC_URL}}fonts/opensans_light_macroman/stylesheet.css" type="text/css" charset="utf-8" />		
		<link rel="stylesheet" href="{{STATIC_URL}}fonts/opensans_semibold_macroman/stylesheet.css" type="text/css" charset="utf-8" />
		<link rel="stylesheet" href="{{STATIC_URL}}fonts/opensans_lightitalic_macroman/stylesheet.css" type="text/css" charset="utf-8" />
		<link rel="stylesheet" href="{{STATIC_URL}}fonts/opensans_semibolditalic_macroman/stylesheet.css" type="text/css" charset="utf-8" />
		{% block extrastyle %}{% endblock %}
		{% block extrahead %}{% endblock %}
			
		<script>
			(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
			(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
			m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
			})(window,document,'script','//www.google-analytics.com/analytics.js','ga');
			ga('create', 'UA-45357305-1', 'bookwork.co');
			ga('send', 'pageview');
		</script>
	</head>
	<body>
		<div id="wrap">
			<div id="main" class="container clear-top">
				{% block navbar %}
				<!-- NAVBAR
				================================================== -->
				<div class="navbar navbar-default navbar-fixed-top">
					<div class="navbar-header">
						<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
							<span class="sr-only">Toggle navigation</span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
						<a class="navbar-brand" href="/"><span class="gray">book</span><span class="blue">work</span></a>
					</div><!-- navbar-header -->	
					
					<div class="collapse navbar-collapse navbar-ex1-collapse">
						<ul class="nav navbar-nav navbar-right">
							{% if user.is_authenticated %}
								<li id="welcome_text">Welcome {{ user.username }}</li>
								<li><a href="/accounts/logout">Logout</a></li>
							{% else %}
								<li><a href="/#how">How It Works</a></li>
								<li><a href="/accounts/register">Register</a></li>
								<li><a href="/accounts/login">Login</a></li>
							{% endif %}
						</ul><!-- nav navbar-nav navbar-right -->
					</div><!-- collapse navbar-collapse navbar-ex1-collapse -->
				</div><!-- navbar navbar-default navbar-fixed-top -->
				{% endblock %}
			
			<div id="content">
				{% block content %}{% endblock %}
			</div>
		</div>
	</div>

	<div id="footer" class="footer_container footer navbar navbar-default navbar-fixed-bottom">
		<div id="container">
			<ul>
				<li>© Bookwork 2013</li>
				<!-- <li>Terms of Service</li>
				<li>Privacy Policy</li> -->
			</ul>
		</div><!-- container -->
	</div>

		<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
		<script src="//code.jquery.com/jquery.js"></script>
		<script>window.jQuery || document.write('<script src="{{STATIC_URL}}js/jquery.js"><\/script>')</script>
		<!-- Include all compiled plugins (below), or include individual files as needed -->
		<script src="{{STATIC_URL}}js/bootstrap.min.js"></script>
		<script src="{{STATIC_URL}}js/chosen_v1.0.0/chosen.jquery.min.js"></script>
		<script type="text/javascript">
			if($('form')){
				$('form').addClass("pure-form pure-form-aligned")
				$('form').find('p').addClass("pure-control-group");
			}
		</script>
		{% block scripts %}{% endblock %}
	</body>
</html>
