{% extends "base/base.html" %}

{% block title %}{% endblock %}

{% block extrastyle %}
	<link href="{{STATIC_URL}}css/dash.css" rel="stylesheet">
{% endblock %}

{% block extrahead %}{% endblock %}

{% block sidebar %}
<div class="sidebar">
  <a class="navbar-brand" href="/"><span class="gray">book</span><span class="blue">work</span></a>
  <div class="sidebar-wrap">
  <div class="id">
    <img id="profile_picture" src="{{ user.student.getPictureURL }}"/>
    <h3 id="name">{{ user.first_name }} {{ user.last_name }}</h3>
  </div>
  <ul class="sidebar-list">
    <a href="/"><li class="{{sidebar.profile}}">PROFILE</li></a>
    <a href="/current_employers/"><li class="{{sidebar.employers}}">CURRENT EMPLOYERS</li></a>
    <a href="/edit/"><li class="{{sidebar.edit}}">EDIT INFORMATION</li></a>
    <a href="/accounts/password/change"><li class="{{sidebar.account}}">EDIT ACCOUNT</li></a>
    <a href="/accounts/logout"><li>LOGOUT</li></a>
  </ul>
  </div>
</div>
{% endblock %}

{% block content %}{% endblock %}

{% block scripts %}{% endblock %}
